# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
billing-mysql/mysql/database
# IntelliJ project files
hotswap-tomcat-dev/.idea
*.iml
out
gen

/.idea/
